*.x
.vscode
.vs
build/*
debug/*
*.sln
*.vcxproj
*.vcxproj.*
*.whl
*.out

pyvenv/*
.idea/

Makefile
CMakeCache.txt
cmake_install.cmake
CMakeFiles/
zhaomulan/out/build/x64-Debug (默认值)/.cmake/api/v1/query/client-MicrosoftVS/query.json
